@page "/music-playlist-page"

@using NAudio.Utils;
@using ObscuritasMediaManager.Backend.DataRepositories;
@using ObscuritasMediaManager.Backend.Extensions;
@using System.Linq;
@inherits ElementBase

@inject NavigationManager NavigationManager
@inject MusicRepository MusicRepository
@inject PlaylistRepository PlaylistRepository
@inject UserRepository UserRepository
@inject AudioService Audio
@inject LyricsService LyricsService

<div id="music-player-container" switch-second-mood="@SwitchSecondMood" style="
 --primary-color: @((updatedTrack.Mood1).GetColorCode());
--secondary-color: @((SecondaryMood).GetColorCode());
--font-color: @((updatedTrack.Mood1).GetFontColorCode());
--secondary-font-color: @((SecondaryMood).GetFontColorCode());">
    <div id="complete-checkbox">
        <label for="complete-check" class="label">Complete:</label>
        <input type="checkbox"
               id="complete-check"
               checked="@(updatedTrack.Complete)"
        @onchange="@(() => ChangePropertyAsync(x=>x.Complete, !updatedTrack.Complete))" />
    </div>
    <div id="current-track-container">
        <div id="mood-switcher-container" disabled="@(updatedTrack.Complete)">
            <div id="mood-tabs">
                <div id="first-mood" class="mood-tab" @onclick="@(() => SwitchSecondMood = false)"></div>
                <div id="second-mood" class="mood-tab" @onclick="@(() => SwitchSecondMood = true)"></div>
            </div>
            <div id="mood-switcher" disabled="@(updatedTrack.Complete)">
                <div id="mood-container">
                    <ScrollSelect Options="@(Enum.GetValues<Mood>())"
                                  Value="@(SwitchSecondMood ? updatedTrack.Mood2 : updatedTrack.Mood1)"
                                  ValueChanged="@((e) => ChangePropertyAsync(SwitchSecondMood ? x=>x.Mood2 : x=>x.Mood1, e))"
                                  T="Mood">
                    </ScrollSelect>
                </div>
            </div>
        </div>

        <div id="audio-tile-container">
            <AudioTileBase Disabled="@(updatedTrack.Complete)"
                           Track="@((updatedTrack))"
                           Paused="@(Audio.Paused())"
                                          Visualize
                            ImageClicked="@(() => toggleCurrentTrack())"
                            ChangeLanguage="@(() => showLanguageSwitcher())"
                            NextParticipants="@(() =>
                                ChangePropertyAsync(
                                    x=>x.Participants,
                                    updatedTrack.Participants.NextValue()
                                ))"
                            NextInstrumentation="@(() =>
                                ChangePropertyAsync(
                                    x=>x.Instrumentation,
                                    updatedTrack.Instrumentation.NextValue()
                                ))"
                            ChangeRating="@((e) => ChangePropertyAsync(x=>x.Rating, (byte) e))"
                            ChangeInstruments="@(() => openInstrumentsDialog())"></AudioTileBase>
             <div id="show-lyrics-link" @onclick="@(() => StartShowingLyricsAsync())">Show Lyrics</div>
         </div>
         <div id="audio-control-container">
             <input type="text"
                    id="audio-title"
                    class="editable-label"
                    disabled="@(updatedTrack.Complete)"
                    value=" @(updatedTrack.Name)"
                    autocomplete="off"
             @onchange="@((e) => ChangePropertyAsync(x => x.Name, e.Value))" />

             <div id="audio-subtitle">
                 <input type="text"
                        id="audio-author"
                        class="editable-label"
                        disabled="@(updatedTrack.Complete)"
                        value="@(updatedTrack.Author)"
                        autocomplete="off"
                        oninput="this.dispatchEvent(new Event('change')"
                 @onchange="@((e) => ChangePropertyAsync(x=>x.Author, e.Value))" />
                 <div id="subtitle-separator">-</div>
                 <input type="text"
                        id="audio-source"
                        class="editable-label"
                        value="@(updatedTrack.Source ?? "---")"
                        disabled="@(updatedTrack.Complete)"
                        autocomplete="off"
                        oninput="this.dispatchEvent(new Event('change')"
                 @onchange="@((e) => ChangePropertyAsync(x=>x.Source, e.Value))" />
             </div>
             <div id="genre-section">
                 @foreach (var genre in updatedTrack.Genres)
                {
                    <TagLabel Text="@(genre.ToString())"
                              Disabled="@(updatedTrack.Complete)"
                              Removed="@(() => ChangePropertyAsync(x=>x.Genres, updatedTrack.Genres.Where(y=>y != genre)))"></TagLabel>
                }
                @if (!updatedTrack.Complete)
                {
                    <TagLabel CreateNew
                               Autocomplete="@(autocompleteGenres.Select(x=>x.ToString()).ToList())"
                               TagCreated="@((genre) => ChangePropertyAsync(x=>x.Genres, updatedTrack.Genres.Append(Enum.Parse<MusicGenre>(genre))))"></TagLabel>
                }
            </div>
            <div id="track-position-container">
                <div id="track-position-label">@(Audio.GetCurrentTrackPosition().ToString())</div>
                <div id="track-position">
                    <RangeSlider ValueChanged="@((e) => Audio.SetPosition(TimeSpan.FromMilliseconds(e)))"
                                 Value="@((int)Audio.Position.TotalMilliseconds)"
                                 Min="0"
                                 Max="@((int)(Audio.GetCurrentTrackDuration().TotalMilliseconds))"
                                 Step="1000 "></RangeSlider>
                </div>
                <div id="track-position-label">@(Audio.GetCurrentTrackDuration().ToString())</div>
            </div>
            <div id="audio-controls">
                <div id="previous-track-button" @onclick="@(() => changeTrackBy(-1))" class="audio-icon" Icon="@Icons.FastForward"></div>
                <div id="toggle-track-button"
                @onclick="@(() => toggleCurrentTrack())"
                     class="audio-icon" Icon="@(Audio.Paused() ? Icons.Play : Icons.Pause)"></div>
                <div id="next-track-button" @onclick="@(() => changeTrackBy(1))" class="audio-icon" Icon="@Icons.FastForward"></div>

                <div id="change-volume-container">
                    <div id="change-volume-button" class="audio-icon" Icon="@Icons.ChangeVolume"></div>
                    <div id="change-volume">
                        <RangeSlider ValueFinalized="@((e) => changeVolume(e,true))"
                                     ValueChanged="@((e) => changeVolume(e,false))"
                                     Step="1"
                                     Min="0"
                                     Max="100"
                                     Value="@((int)(Audio.Volume * 100))"></RangeSlider>
                    </div>
                </div>
            </div>
            <div id="change-path-container">
                <input disabled id="path-input" value="@("file:\\\\\\" + updatedTrack.Path)" />
                @if (!updatedTrack.Complete)
                {
                    <div id="change-path-button"
                         class="inline-icon"
                         Icon="@Icons.Edit"
                    @onclick="@(()=>changeCurrentTrackPath())"></div>
                }
            </div>
        </div>
    </div>
    @if (CreateNew)
    {
        <div id="create-track-link" class="action-link" @onclick="@(()=> CreateTrackAsync())">
            <div id="create-track-icon" Icon="@Icons.SaveTick"></div>
            <div id="create-track-text">Track erstellen</div>
        </div>
    }
    else if (PlaylistId is not null && PlaylistId != Guid.Empty && playlist.IsTemporary)
        {
        <div id="edit-playlist-link" class="action-link" @onclick="@(() => openEditPlaylistDialog())">
            <div id="edit-playlist-icon" Icon="@Icons.Edit"></div>
            <div id="edit-playlist-text">Zu Playlist befördern</div>
        </div>
    }
    else if(PlaylistId is not null && PlaylistId != Guid.Empty && !playlist.IsTemporary)
    {
        <div id="edit-playlist-link" class="action-link" @onclick="@(() => openEditPlaylistDialog())">
            <div id="edit-playlist-icon" Icon="@Icons.Edit"></div>
            <div id="edit-playlist-text">Playlist bearbeiten</div>
        </div>
    }
    <div id="media-playlist-container">
        <MediaPlaylist Items="@(playlist.Tracks)"
                       ActiveIndex="@(currentTrackIndex)"
                       IndexChanged="@((index) => changeTrack(index))"
                       Randomize="@(() => randomize())"></MediaPlaylist>
    </div>
</div>