@using ObscuritasMediaManager.Client.Data;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Session Session

<style>
    *[icon] {
        background: black;
    }
</style>

<div id="viewport" style="width: @(MainWindow.Instance!.ActualWidth)px; height: @(MainWindow.Instance!.ActualHeight)px">
    <div id="page-container" style="width: @(1920)px; height: @(1080)px ;">
        <div id="current-page" style="transform: scale(@(ScaleFactorX.ToString(System.Globalization.CultureInfo.InvariantCulture)), @(ScaleFactorY.ToString(System.Globalization.CultureInfo.InvariantCulture)))">
            <div id="header">
                <div id="logo-container">
                    <a id="logo" href="#welcome">
                        <div id="title">Obscuritas Media Management</div>
                        <div id="subtitle">オブスキュリタス メディア マネジメント</div>
                    </a>
                </div>
            </div>

            <div id="navigation-container">
                <div id="navigation">
                    <div id="link-area">
                        <div id="nav-section">
                            <div id="nav-section-heading">Inhalt</div>
                            <div id="nav-section-links">
                                @foreach (Page route in Enum.GetValues(typeof(Page)))
                                {
                                    <div @onclick="@(()=>NavigationManager.NavigateTo(@route.ToString()))" class="nav-link">@(route)</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="layout-content">
                @Body
            </div>

        </div>
    </div>
</div>

@foreach (var child in Children)
{
    <DynamicComponent @key="@child.Id" Parameters="@child.Parameters" Type="@child.ComponentType" @ref="@child.Instance"></DynamicComponent>
}
